<!------ Include the above in your HEAD tag ---------->

<!-- groupe -->


<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Analyzing Faces</h5>
    <div style="margin-bottom:6%;">
      <input type="text" [(ngModel)]="src">
      <button (click)="getPersonne(src); drawRect()">Get person </button>

      <img #img src="{{src}}" (load)="afterLoading();ngAfterViewInit()" style='display: none;' />
      <canvas #visualization width={{imgWidth}} height={{imgHeight}}  ></canvas>

    </div>
    <div class=" row">
        <!-- member -->
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let personne of personnes; index as i">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    
                    <ng-container *ngIf="personTrue === i ">
                        <p><img class=" img-fluid"  src="../assets/imageLeo.jpg"
                          alt="card image"></p>
                    </ng-container>
                    <ng-container *ngIf="personTrue != i">
                        <p><img class=" img-fluid"  src="https://cdn4.vectorstock.com/i/1000x1000/39/58/unknown-male-person-eps-10-vector-13383958.jpg"
                          alt="card image"></p>
                    </ng-container>
                    
                    <h4 class="card-title">personne {{(i+1)}}</h4>
                    <p class="card-text">see more details</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Details</h4>
                    <p class="card-text">
                      - Smile : {{personne.faceAttributes.smile}} //

                      - Gender: {{personne.faceAttributes.gender}} //

                      - Age   : {{personne.faceAttributes.age}}
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- / member -->


    </div>
  </div>
</section>